body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents scrolling */
  }
  .container {
    display: flex;
    height: calc(100% - 40px); /* Adjust height to account for menu */
    overflow: hidden;
  }
  #menu {
    padding: 10px;
    background: #efefef;
    text-align: center;
    border: 1px solid #CCC;
}



  #leftDiv, #rightDiv {
    height: 93%;
    overflow: auto;
    padding: 10px;
  }
  #leftDiv {
    background: #fff;
    width: 50%;
    flex-shrink: 0;
    min-width: 100px;
  }
  #rightDiv {
    background: #fff;
    flex-grow: 1;
    position: relative;
  }
  #dragBar {
    background-color: #666;
    cursor: ew-resize;
    width: 5px;
  }
  textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .valid {
    position: fixed;
    bottom: 4px;
    right: 10px;
    color: green;
    font-size: small; 
  }

  .error {
    position: fixed;
    bottom: 4px;
    right: 10px;
    color: red;
    font-size: small; 
  }

  .jsoneditor{
    border: 1px solid #eeeeee;
  }

  .jsoneditor-menu{
    background-color: #efefef;
    border-bottom: 1px solid #cccccc;
  }

  .jsoneditor-navigation-bar {
    background-color: #ffffff;
  }

  .jsoneditor-results{
    color: #666;
  }

  .jsoneditor-sort,
  .jsoneditor-transform,
  .jsoneditor-undo,
  .jsoneditor-redo,
  .jsoneditor-repair,
  .jsoneditor-contextmenu-button,
  .jsoneditor-dragarea,
  .jsoneditor-format,
  .jsoneditor-compact,
  .jsoneditor-expand-all,
  .jsoneditor-collapse-all {
    display: none !important; 
}

#jsonInput{ 
  border: 1px solid #ddd;
}
#jsonInput:focus {
  outline: none; /* Removes the default focus outline */
}

#rightDiv:focus{
  outline: none;
}





/* Base class for all buttons */
.button-base {

  padding: 6px 40px;
  margin: 0 2px;
  font-size: 16px;
  vertical-align: middle;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 34px;
  /* Adjust size as needed */
  height: 34px;
  /* Adjust size as needed */
  cursor: pointer;
  transition: opacity 0.2s ease;
  /* Smooth transition for opacity change */
}

/* Hover effect for all buttons */
.button-base:hover {
  opacity: 0.5;
}

/* Specific classes for different background ../../images */
.button-tafsir {
  background-image: url('../../images/tafsir.png');
}

.button-expandtree {
  background-image: url('../../images/expand-tree.png');
}

.button-collapsetree {
  background-image: url('../../images/collapse-tree.png');
}

.button-formatjson {
  background-image: url('../../images/blue.png');
}

.button-removewhitespace {
  background-image: url('../../images/clear-format.png');
}

.button-fullwindow {
  background-image: url('../../images/size-up.png');
}

.button-collapsewindow {
  background-image: url('../../images/size-down.png');
}

.button-copyjson {
  background-image: url('../../images/pdf.png');
}

.button-tafsir {
  background-image: url('../../images/tafsir.png');
}





